# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
src/main/resources/assets/betterblockexchanger/models/block/_makeb.bat
src/main/resources/assets/betterblockexchanger/models/item/_makei.bat
